html{
overflow: hidden;
}

#inner-html
{
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

body{
background: url('../img/backgrounds/background.png');
background-size: cover;
background-repeat: no-repeat;
}

/************************************
login
************************************/
.index-inviter-login-wrapper{
background: url('./img/choose-back.png');
background-size: cover;
background-repeat: no-repeat;
}

.index-inviter-login{
background-image: url('../img/login/login-two-charachters.png')!important;
background-repeat:no-repeat; 
background-size: contain;
}

button.login-facebook{
position: absolute;
bottom: 1rem;
left: 1rem;
right: 1rem;
width: 90%;
}



/************************************
god modals
************************************/

#invitation-modal{
background: rgba(29, 141, 250, 1);
padding: 10px;
border: none;
}

#invitation-modal p{
font-family: 'Chewy', cursive;
margin-bottom: 0;
color: #fff;
}

#invitation-modal a.close-reveal-modal{
color: #fff;
top: 0;
}



/************************************
games
************************************/

.active-character{
border: 4px solid #fff;
}

html#games{
overflow-y:scroll; 
}

.games{
background: #ff3641; /* Old browsers */
background: -moz-linear-gradient(top,  #ff3641 0%, #d8242a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3641), color-stop(100%,#d8242a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff3641 0%,#d8242a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff3641 0%,#d8242a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff3641 0%,#d8242a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff3641 0%,#d8242a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3641', endColorstr='#d8242a',GradientType=0 ); /* IE6-9 */
}

h2.start-games{
text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.31);
font-family: 'Chewy', cursive;
text-align: center;
color: #FFFFFF;
font-size: 1.5rem;
}

ul.games-list{
margin-left: 0;
max-height: 330px;
overflow: scroll;
list-style: none;
background: #fff;
}

li.game-list-game {
padding: 10px 0px 10px 10px;
border-bottom: 1px solid #C4DCE8;
}

li.game-list-game:hover{
background:rgba(196, 220, 232, 0.38);
}

a.games-list-partner-avatar{
width: 45px;
height: 45px;
background: #eee;
}

a.games-list-partner-avatar img{
border-radius: 2px;
}

li.games-list-head{
background: rgba(29, 141, 250, 1);
text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.31);
font-family: 'Chewy', cursive;
text-align: center;
color: #FFFFFF;
font-size: 1.5rem;
}

a#main-invite{
display: block;
text-align: center;
font-family: 'Chewy', cursive;
text-align: center;
color: #FFFFFF;
font-size: 1.5rem;
background: rgba(29, 141, 250, 1);
border-radius: 3px;
margin-bottom: 20px;
padding: 10px;
box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.58), 0px 5px 1px rgba(13, 113, 210, 1);
}
a#main-invite:hover{
box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.58), 0px 5px 1px rgba(13, 113, 210, 1), 0px 2px 15px #333;
}

#choose_modal{
top: 60px!important;
padding: 20px;
background: transparent;
box-shadow: none;
}

a.games-list-partner-name{
font-family: 'Chewy', cursive;
text-align: center;
color: #20ABFF;
font-size: 1rem;
position: relative;
left: 10px;
}

.games-list-item-status{
 -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
font-family: 'Chewy', cursive;
text-align: center;
color: #20ABFF;
opacity: 0.4;
font-size: .8rem;
position: relative;
top: 10px;
}

.games-list-my-icon img{
width: 30px;
height: 30px;
position: relative;
top: 5px;
right: 5px;
}

.message-modal{
width: 90vw;
left: 5vw;
}
.full-height{
height: 100%;
}

#landingModal p{
font-family: 'Chewy', cursive;
text-align: center;
color: #4A4A4A;
}

#landingModal{
padding:1.5rem 1.5rem 1rem 1.5rem;
margin-top: 4rem;
border:none;
}

a.close-reveal-modal.landing-close{
font-size: 2.5rem;
line-height: 1;
position: absolute;
bottom: -2.5rem!important;
left: 0.6875rem;
color: #aaaaaa;
font-weight: bold;
cursor: pointer;
}


span.landing-arrow-health img{
width: 20%;
position: absolute;
top: -6px;
right: 10px;
}

span.landing-arrow-points img{
width: 26%;
position: absolute;
top: -10px;
left: 10px;
-ms-transform: rotate(330deg);
-webkit-transform: rotate(330deg);
transform: rotate(330deg);
z-index: 0;
}

span.landing-arrow-chat img{
width: 25%;
position: absolute;
bottom: -55px;
right: 30px;
-ms-transform: rotate(110deg);
-webkit-transform: rotate(110deg);
transform: rotate(110deg);
}

a.chat-trigger{
position: fixed;
right: .5rem;
bottom: .5rem;
transition: all 300ms ease-out;
z-index: 7;
}

a.chat-trigger:hover{
-ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1,1.1);
}

iframe.cat-animated-iframe{
margin-left: -20px;
z-index: 10;
border: none;
height: 100%;
position: relative;
top: 180px;
left: 40px;
}

span.chat-notifications{
background: red;
border-radius: 100px;
color: #fff;
font-size: 10px;
padding: 0px 3px;
position: absolute;
left: 30px;
top: 0px;
}

a.chat-trigger img{
width: 40px;
}

#score_number{
}

ul.scores{
margin-bottom: 0;
margin-top: 10px;
margin-left: -10px;
height: 50px;
}

ul.scores li{
margin-bottom: 0;
margin-left: 5px;
}

ul.scores li a{
margin-left: 5px;
padding: 10px;
background: #20ABFF;
border-radius: 3px;
font-family: 'Chewy', cursive;
color: #fff!important;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

a.back-to-games{
background: #FFFF2C;
padding: 11px;
border-radius: 5px;
position: relative;
color: #000;
}

a.main-score{
position: fixed;
z-index: 10;
left: 3rem;
top: .5rem;
border-radius: 5px;
padding: 0px;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.81),inset 0px 0px 1px;
color: #4A4A4A;
font-family: 'Chewy', cursive;
background: rgba(255, 241, 112, 0);
}


#points-drop{
padding: 0px;
top: 60px;
left: 7px;
max-width: 95%;
border: none;
background: #20ABFF;
border-radius: 5px;
z-index: 200;
box-shadow: 0px 0px 5px #000;
}

ul.next-achievements{
list-style: none;
margin: 0px;
}

span.achievement-name{
position: relative;
top: -6px;
}

span.achievement-icon img{
width: 40%;
}

ul.next-achievements li{
color: #FFFFFF;
font-family: 'Chewy', cursive;
font-size: 17px;
border-bottom: 4px solid #15A2E8;
padding: 10px;
text-align: center;
}

span.not-achieved img{
opacity:0.4;
}

p.modal-header{
background: #FFFF2C;
padding: .5rem;
border-radius: 5px 5px 0px 0px;
padding: 20px;
color: #4A4A4A;
font-family: 'Chewy', cursive;
font-size: 24px;
margin-bottom: 0;
}

#points-drop:before{
border-color: transparent transparent #FFFF2C transparent!important;
}

li.achievement-thread{
height: 260px;
overflow: scroll;
}

span.achievement-points-points{
display: block;
font-size: 12px;
}



a.main-score i{
color: #fff;
text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.34);
margin-right: 5px;
}

a.notification-bell{
width: 40px;
display: none;
}

a.health-icon{
position: fixed;
right: .5rem;
top: .5rem;
transition: all 300ms ease-out;
}

a.health-icon:hover{
    -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2,1.2);
}

a.health-icon img{
width: 40px;
}

:focus {
outline: -webkit-focus-ring-color auto 0px;
}

a.the-cat{
position: absolute;
width: 50%;
bottom: 10%;
left: 25%;
}


/***************************
chat
***************************/
#chat-drop{
height: 80%;
border-radius: 10px;
margin-top: 0px;
padding-bottom: 0!important;
border: none;
position: absolute;
bottom: 44px;
box-shadow: 0px 0px 4px #000;
padding-top: 0px;
}

#chat-drop:before{
content: "";
display: block;
width: 0;
height: 0;
border: inset 6px;
border-color: white transparent transparent transparent;
border-top-style: solid;
position: absolute;
top: auto;
bottom: -12px;
left: auto;
right: 23px;
z-index: 99999;
}

ul.chat-thread{
list-style: none;
height: 70%;
overflow-y: scroll;
padding-bottom: 5px;
margin-left: 0;
}

li.chat-message{
margin-bottom: 2rem;
}

form#in-chat-input{
position: absolute;
bottom: 0px;
right: 1rem;
left: 1rem;
}

span.chat-name{
font-family: 'Chewy', cursive;
display: block;
font-size: 1.2rem;
margin-bottom: .2rem;
color: #333;
}

span.chat-time{
color: #999999;
display: block;
margin-bottom: .2rem;
}

span.chat-single-message{
color: #999999;
}

.f-dropdown li:hover, .f-dropdown li:focus {
background: transparent;
}


.own-message{
text-align: right;
}


.orbit-container .orbit-next:hover > span {
border-left-color: #20ABFF;
}

.orbit-container .orbit-next > span {
border-color: transparent;
border-left-style: solid;
border-left-color: #ECECEC;

left: 50%;
margin-left: -4px;
/* background: #fff; */
}

.orbit-container .orbit-next{
background: #fff;
width: 20px;
height: 65px;
top: 28px;
}

.emoticons-slider{
height: 66px!important;
}

ul.emoticons-slider li img{
display: inline-block;
}

.orbit-container {
position: relative;
top: 0px;
background: #fff;
padding: 0px 19px;
}

.orbit-container .orbit-prev {
background: #fff;
width: 20px;
height: 65px;
top: 27px;
}

.orbit-container .orbit-prev > span {
/* border-right-style: solid; */
/* border-color: transparent; */
/* border-right-color: white; */
border-color: transparent;
border-left-style: solid;
border-right-color: #ECECEC;
left: -10%;
margin-left: -4px;
}


.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {
background-color: #fff;
box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.12);
}

.orbit-container .orbit-prev:hover > span {
border-right-color: #20ABFF;
}


.orbit-slide-number{
display: none;
}
ul.chat-thread img.sent-emoticon{
width: 40%;

}

ul.chat-thread li{
margin-top: 1rem;
}
/********************************
food modal
********************************/
#foodModal{
top: 5vw;
width: 90vw;
left: 5vw;
}

p.lead{
font-family: 'Chewy', cursive;
text-align: center;
color: #009EFF;
}

p.food-type-cat img{
width: 50%;
}

p.food-type-cat{
text-align: center;
}

button.red-x{
background: #FF1D25;
position: relative;
left: -2px;
margin-bottom: 0;
}

button.green-y{
background: #39B54A;
position: relative;
right: -2px;
margin-bottom: 0;
}

.food-buttons-cat{
padding: 0;
}
/********************************
choose
********************************/
body.choose{
background: url('../img/choose-back.png');
background-size: cover;
background-repeat: no-repeat;
}

ul.choose-character{
list-style: none;
}

ul.choose-character li p{
text-align: center;
transition: all 300ms ease-out;
}

ul.choose-character li p img {
border-radius: 100px;
padding: 20px;
background: rgba(29, 141, 250, 1);
width: 130px;
height: 130px;
box-shadow: 0px 2px 3px, inset 0px 1px 0px rgba(255, 255, 255, 0.35);
transition: all 100ms ease-out;
}

ul.choose-character li p img:hover{
transition: all 100ms ease-out;
box-shadow:  0px 0px 0px 4px #000;
} 

h1.choose-title{
text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.31);
font-family: 'Chewy', cursive;
text-align: center;
color: #FFFFB2;
font-size: 7rem;
}

.go-on-pips{
border-radius: 3px;
padding: 20px 40px;
position: relative;
top: 2rem;
text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.31);
font-family: 'Chewy', cursive;
text-align: center;
color: #FFFFB2;
border: 4px solid;
font-size: 24px;
box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.31), inset 0px 4px 0px rgba(0, 0, 0, 0.31);
}


.go-on-pips:hover{
border-radius: 3px;
padding: 20px 40px;
position: relative;
top: 2rem;
text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.31);
font-family: 'Chewy', cursive;
text-align: center;
color: #FFFFB2;
border: 4px solid;
font-size: 24px;
box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.31), inset 0px 4px 0px rgba(0, 0, 0, 0.31);
}

/********************************
scratch
********************************/

#scratch-image{
position: absolute;
z-index: 8;
}

a#clickable-scratch img{
width: 50%;
position: relative;
right: -50vw;
top: 16vh;
}



/********************************
food modal
********************************/
.message-modal{
padding: 0;
background: #20abff;
border: none;
margin-top: 2rem;
}

.message-modal i.fa-trophy{
color: #20abff;
font-size: 2rem;
}
ul.message-modal-header{
background: #ffff2c;
margin-left: 0;
border-radius: 3px 3px 0px 0px;
padding-top: 20px;
}
span.level-modal-level{
font-family: 'Chewy', cursive!important;
}

p.level-modal-img{
padding: 1rem 2rem 0rem 2rem;
position: relative;
top: 19px;
}


/********************************
human
********************************/
.human-feed{
position: relative;
top: 20%;
}

#fish_stage{
position: absolute;
bottom: 20px;
left: -170px;
z-index: 0;
}

#foodModal-approve{
height: 79px;
padding: 0px;
background: #FFFF2C;
border: none;
}

#foodModal-approve-img{
}

#foodModal-approve-img img{
width: 50%;
padding: 6px;
background: #20ABFF;
}


#first-left{
position: relative;
left: -60px;
}

#first-left span{
font-family: 'Chewy', cursive;
color: #4A4A4A;

}

span#foodModal-approve-points{
font-family: 'Chewy', cursive;
display: block;
color: #4A4A4A;
position: relative;
left: -20px;
top: -60px;
font-size: 30px;
margin-top: 4px;
}

span#foodModal-approve-points-points{
font-family: 'Chewy', cursive;
display: block;
color: #4A4A4A;
position: relative;
left: -4px;
top: -69px;
font-size: 16px;
}


span.food_acceptor_name{
font-size: 25px;
display: block;
color: #4A4A4A;
}

a.approval-close{
font-size: 2.5rem;
line-height: 1;
position: absolute;
top: 6rem!important;
right: 6.6875rem!important;
color: #fff!important;
font-weight: bold;
cursor: pointer;
font-family: 'Chewy', cursive;
border: 4px solid;
padding: 14px;
border-radius: 100px;
}

#achieve-ok{
position: absolute;
top: 380px!important;
}

#levelModal a.approval-close{
top: 18rem!important;
right: 6.2rem!important;
color: #fff!important;
}

/***************************
cat stages
***************************/
#cat_stage{
position: absolute;
bottom: -40px;
right: -30px;
z-index: 5;
}

#cat_stage.sleep_placing{
position: absolute;
bottom: 0px;
right: 0px;
z-index: 5;
}

#cat_stage.scratch_placing{
position: absolute;
bottom: 0px;
right: 0px;
z-index: 5;
}

/***************************
cat actions
***************************/
ul.cat-actions{
list-style: none;
position: absolute;
right: -24px;
top: 42px;
}

ul.cat-actions li button{
background: transparent;
padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 0;
}

li.cat-action{
margin-top: 25px;
}

li.cat-action button i{
border: 3px solid rgba(255, 255, 255, 0.66);
padding: 10px;
width: 41px;
border-radius: 100px;
color: rgba(255, 255, 255, 0.62);
transition: all 300ms ease-out;
}

ul.cat-actions li button i:hover{
-ms-transform: scale(1.2,1.2);
-webkit-transform: scale(1.2,1.2);
transform: scale(1.2,1.2);
color: #fff;
border: 3px solid #fff;
}

li.cat-action-feedme{
width: 43px;
position: absolute;
right: 31px;
z-index: 100;
transition: all 300ms ease-out;
}

li.cat-action-feedme:hover{
-ms-transform: scale(1.2,1.2);
-webkit-transform: scale(1.2,1.2);
transform: scale(1.2,1.2);
}

a.food-bowl{
position: absolute;
bottom: 30px;
width: 50%;
left:-50vw;
z-index: 6;
}

/***************************
level gifts
***************************/
ul.level-gift-icon-packs{
list-style: none;
margin: 1rem;
}


/***************************
gift icons
***************************/
ul#choose_new_emoticons_area{
margin: 0;
}

li.emoticon-choice img.emoticon-chosen{
background: #0C96E8;
border-radius: 5px;
border: 2px solid #ffff2c;
padding: 5px;
}

#fish-gift-modal .approval-close{
top: 21rem!important;
}

.FB_UI_Dialog{
width: 280px!important;
height: 500px!important;
}

#iframe_canvas{
min-height:100%;
}


/***************************
Human
***************************/

li.human-action-feedme {
width: 43px;
position: absolute;
right: 35px;
top: -60px;
transition: all 300ms ease-out;
}

.human-cog{
position: relative;
top: -6px;
right: 4px;
}

ul.human-chat-thread {
list-style: none;
height: 90%;
overflow-y: scroll;
padding-bottom: 5px;
margin-left: 0;
}

